apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: bedrock-gateway
  name: bedrock-gateway
  namespace: rag-system
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: bedrock-gateway
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: bedrock-gateway
    spec:
      containers:
      - env:
        - name: AWS_REGION
          value: us-east-2
        - name: DEFAULT_MODEL
          value: anthropic.claude-sonnet-4-20250514-v1:0
        - name: DEBUG
          value: "false"
        - name: RERANK_REGION
          value: us-east-1
        - name: DEFAULT_RERANK_MODEL
          value: "cohere.rerank-v3-5:0"
        - name: API_KEY_SECRET_ARN
          value: BedrockGatewayApiKey
        - name: AWS_DEFAULT_REGION
          value: us-east-2
        image: 982170164096.dkr.ecr.us-east-2.amazonaws.com/bedrock-access-gateway:latest
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: bedrock-gateway
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /health
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 15
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
      serviceAccountName: openwebui-bedrock-sa
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: bedrock-gateway
  name: bedrock-gateway
  namespace: rag-system
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: bedrock-gateway
  type: ClusterIP
