apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rag-system

resources:
  - 01-storage.yaml
  - 02-qdrant.yaml
  - 03-secrets.yaml
  - 04-openwebui.yaml
  - 07-docling-service.yaml
  - 09-postgresql.yaml
  - bedrock-gw/bedrock-gateway-secret.yaml
  - bedrock-gw/bedrock-gateway-deployment.yaml

# Configuración común para todos los recursos
commonLabels:
  app.kubernetes.io/part-of: rag-system
  app.kubernetes.io/managed-by: kustomize

# Prefijo para todos los recursos (opcional)
# namePrefix: prod-

# Sufijo para todos los recursos (opcional)
# nameSuffix: -v1

# Imágenes - útil para cambiar versiones sin editar YAMLs
images:
  - name: ghcr.io/open-webui/open-webui
    newTag: v0.8.5
  - name: qdrant/qdrant
    newTag: v1.16
